body{
	background-image: url("picture/wave1.png");
}
.countainer{
	position: relative;
	width: 100%;
	hight:100%;

}
.fylo {
	position: absolute;
	top:12em;
	left:16em;
	text-align: center;
 	padding: 60px;
	padding-right: 115px ;
	background-color: #282898;
	border-radius: 10px;
	border-top-right-radius:55px ;
}
.paragraph{
	position: absolute;
	top:12em;
	left:28em;
	padding: 52px;
    margin-top:18px ;
    margin-left: 5px;
	padding-right:300px ;
    border-radius: 10px;
	background-color: #282898;
	text-align: center;
}
.f{
	position: absolute;
	left: 35px;
	top:0PX;
	color: white;
	font-family: "Segoe UI",Arial,sans-serif;;
	font-weight: bold;
	font-size: 20px;
  	display: inline-block;
 	margin-left: 9px;
 	text-transform: capitalize;
}
.p1{
	font-size: 13PX;
	position: absolute;
	left: 20px;
	top:14PX;
	color: white;
	font-family: "Segoe UI",Arial,sans-serif;;
}

.slider{
	position:absolute ;
	top:16.5em;
	left: 29.5em;

}
input[type=range] {
  -webkit-appearance: none;
  width:300px;
  overflow: hidden;
  border-radius: 10px;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  outline: none;
  box-shadow: 1px ;
  background: #35478c;
  border-radius: 10px;

}
input[type=range]::-webkit-slider-thumb {
  box-shadow: -405px 30px 10px 400px #fb91ac ;
  height: 9px;
  width: 9px;
  border-radius: 100px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin: 0;
}
.p2{
	position: absolute;
	top:27.5em;
	left:48em;
	font-size: 10px;
	color: white;
	font-family: "Segoe UI",Arial,sans-serif;;
}
.p3{
	position: absolute;
	top:27.5em;
	left:73.5em;
	font-size: 10px;
	color: white;
	font-family: "Segoe UI",Arial,sans-serif;;

}
.fylo-icon1{
	display: inline-block;
	    display: inline-block;
	    border-radius: 10px;
	padding: 6px;
	background-color:#133463 ;

}
.fylo-icon2{
	display: inline-block;
    border-radius: 10px;
	padding: 6px;
	background-color:#133463 ;
}
.fylo-icon3{
	display: inline-block;
	border-radius: 10px;
	padding: 6px;
	background-color:#133463 ;
}
.fylo-icon{
    position: absolute;
	top:16em;
	left:17.5em;
}
.layer {
	position: absolute;
	top: 13.6em;
	left: 17.2em;
}
img{
  position: absolute;
  top: 8em;
  left:40.5em;
  object-fit:cover
}
.text{
	position: absolute;
	top:11.5em;
	left:43em;
	font-size: 16px;
	font-family: "Segoe UI",Arial,sans-serif;;
}
.word{
	position: absolute;
	top:23em;
	left:90em;
    font-size: 8px;
    color: #808080;
    font-family: "Segoe UI",Arial,sans-serif;;
}